
#text{
  letter-spacing: 2px;
}

#box{
  margin: auto;
  width: 1000px;
  align-items: center;
  text-align: center;
}

#sub-box{
  margin: auto;
  width: 100%;
}

#title{
  margin-top: 40px;
  text-align: center;
}

.box1{
  display: flex;
  margin-left: 5px;
}

#info{
  margin-left: 5px;
  cursor: pointer;
}

#info:hover{
  opacity: .7;
}

.info-content{
  /* display: none; */
  position: absolute;
  width: 30%;
  overflow: hidden;
  right: 0%;
  bottom: 20%;
}

#info-flow{
  overflow: hidden;
}

#green{
  color: green;
  font-weight: 700;
}
#red{
  color: red;
  font-weight: 700;
}

#q{
  color: black;
  font-weight: 600;
}